body{
    background-color: #ffffff;
    background-image: url("signup_background.jpg");
    background-size: cover;
}
#signup_outer_div{
    /*border: solid black;
    border-width: thin;*/    
    width: 40%;
    height: 600px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform:translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*background-color: #191818;
    opacity: 0.90;*/
}

#name_div{
    border: solid black;
    border-width: thin;
    width: 80%;
    height: 20%;

}

.box{
    height: 50px;
    width: 100%;
    margin-top: 8%;
    background-color: #353538;
    color: white;
    font-family: sans-serif;
    border-radius: 10px;
    border: none;
    opacity: 0.90;
    font-size: 16px;
}

#signup_text_div{
    /*border: solid black;
    border-width: thin;*/
    width:fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    color: white;
}

#submit{
    height: 50px;
    width: 100%;
    margin-top: 8%;
    background-color: red;
    font-family: sans-serif;
    border-radius: 10px;
    border: none;
    opacity: 0.90;
    font-size: 20px;
    color: white;

}

#haveaccount_text_div{
    margin: auto;
    width: fit-content;
    height: fit-content;
    margin-top: 5%;
}

#haveaccount_text_span{
    color: black;
    font-family: sans-serif;
    font-size: 16px;
}